<div class="py-4 px-5 bg-light overflow-y-auto main-admin">
    <a [routerLink]="['/admin/faq-management']" class="btn btn-outline-dark mb-3"><fa-icon [icon]="faArrowLeft"></fa-icon></a>
    <div class="h2 pb-3">Add New FAQS</div>
    <form *ngIf="!submitted">
        <div class="mb-3">
            <label for="questionInput" class="form-label">Question</label>
            <input type="text" class="form-control" id="questionInput" name="question" [(ngModel)]="faq.question" required>
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="answerInput" class="form-label">Answer</label>
           <textarea class="form-control" id="answerInput" name="answer" [(ngModel)]="faq.answer" rows="5" required></textarea>
        </div>
        <button class="btn btn-success px-5" (click)="saveFaq()">Save</button>
    </form>
    <div *ngIf="submitted">
        <h4>Tutorial was submitted successfully!</h4>
        <button class="btn btn-success" (click)="newFaq()">Add</button>
    </div>
</div>