<!-- <div class="py-4 px-5 bg-light overflow-y-auto main-admin">
        <a [routerLink]="['/admin/product-management']" class="btn btn-outline-dark mb-3"><fa-icon [icon]="faArrowLeft"></fa-icon></a>
<div class="h2 pb-3">Add New Ice Cream</div>
    <form *ngIf="!submitted">
        <div class="mb-3">
            <label for="nameInput" class="form-label">Name</label>
            <input type="text" class="form-control" id="nameInput" name="name" [(ngModel)]="product.name" required>
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="flavorInput" class="form-label">Flavor</label>
            <input type="text" class="form-control" id="flavorInput" name="flavorId" [(ngModel)]="product.flavorId" required>
        </div>
        <div class="mb-3">
            <label for="imageFileInput" class="form-label">Image</label>
            <input class="form-control" type="file" id="imageFileInput" name="imageUrl" [(ngModel)]="product.imageUrl"
                required>
        </div>
        <button class="btn btn-success px-5" (click)="saveProduct()">Save</button>
    </form>
    <div *ngIf="submitted">
        <h4>Tutorial was submitted successfully!</h4>
        <button class="btn btn-success" (click)="newProduct()">Add</button>
    </div>
</div> -->