/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Quicksand';
    src: url('./assets/fonts/Quicksand-VariableFont_wght.ttf') format('truetype');
}

html,
body {
    height: 100%;
}

* {
    font-family: 'Quicksand';
}

body {
    margin: 0;
    font-family: 'Quicksand';
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Quicksand';
}

.display-1 {
    font-weight: 500;
}

.display-3{
    font-weight: 400;
}

.display-5{
    font-weight: 400;
}


.main-admin {
    margin-left: 4.5rem;
    min-height: 100vh;
}

.btn-action {
    width: 35px;
    height: 35px;
}

/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */


.stars-rating {
    color: #FFB000;
}

.two-line-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
}

.cursor-pointer{
    cursor: pointer;
}

.fs-normal{
    font-size: 18px;
}


.text-page-header{
    backdrop-filter: blur(10px);
    width: 100%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
