<div class=" pt-5 mt-5">
    <p class="display-1 text-center mb-4">Contact Us</p>
    <div class="container d-flex justify-content-center mb-5">
        <div class="row">
            <div class="col px-5 me-5">
                <h2 class="fs-2">Visit Us</h2>
                <p class="fs-5 lh-base">19 Le Thanh Nghi Street, <br />Hai Ba Trung District, <br />Hanoi</p>
                <h4 class="mt-4 fs-4 fw-bold">Opening Hours</h4>
                <p class="fs-5 lh-base">Monday – Sunday</p>
                <p class="fs-5 lh-base">8a.m - 10pm</p>
                <h4 class="mt-4 fs-4 fw-bold">Phone</h4>
                <p class="fs-5 lh-base">0123456789</p>
            </div>
            <div class="col">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.740297082297!2d105.84525807749552!3d21.003044938766216!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ac748cd9d447%3A0xaf1371c17f07550c!2zMTkgUC4gTMOqIFRoYW5oIE5naOG7iywgQuG6oWNoIE1haSwgSGFpIELDoCBUcsawbmcsIEjDoCBO4buZaSwgVmlldG5hbQ!5e0!3m2!1sen!2s!4v1703270383572!5m2!1sen!2s"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</div>