<div class="pt-5">
    <div class="row mx-0">
        <div class="col py-5 ps-5">
            <div class="d-flex align-items-center gap-4">
                <p class="display-6 fw-bold">Shopping Cart</p>
                <p class="fs-4 mb-0">(3 items)</p>
            </div>
            <div class="d-flex justify-content-between border rounded p-2 my-2">
                <div class="d-flex">
                    <img src="../../../assets/images/ice-cream-book-1.png" alt="ice-cream-book-1" class="book-img">
                    <div class="d-flex flex-column justify-content-center ps-3 gap-2">
                        <p class="fs-4">Sweet Scoops: A Journey Through Ice Cream Delights</p>
                        <p class="fs-5"><strong>Qty: </strong><span>1</span></p>
                        <p class="fs-4 fw-bold text-danger price">$9.99</p>
                    </div>
                </div>
                <button
                    class="btn btn-outline-danger d-flex align-items-center justify-content-center rounded-circle delete-btn">
                    <fa-icon [icon]="faXmark"></fa-icon></button>
            </div>
            <div class="d-flex justify-content-between border rounded p-2 my-2">
                <div class="d-flex">
                    <img src="../../../assets/images/ice-cream-book-1.png" alt="ice-cream-book-1" class="book-img">
                    <div class="d-flex flex-column justify-content-center ps-3 gap-2">
                        <p class="fs-4">Sweet Scoops: A Journey Through Ice Cream Delights</p>
                        <p class="fs-5"><strong>Qty: </strong><span>1</span></p>
                        <p class="fs-4 fw-bold text-danger price">$9.99</p>
                    </div>
                </div>
                <button
                    class="btn btn-outline-danger d-flex align-items-center justify-content-center rounded-circle delete-btn">
                    <fa-icon [icon]="faXmark"></fa-icon></button>
            </div>
            <div class="d-flex justify-content-between border rounded p-2 my-2">
                <div class="d-flex">
                    <img src="../../../assets/images/ice-cream-book-1.png" alt="ice-cream-book-1" class="book-img">
                    <div class="d-flex flex-column justify-content-center ps-3 gap-2">
                        <p class="fs-4">Sweet Scoops: A Journey Through Ice Cream Delights</p>
                        <p class="fs-5"><strong>Qty: </strong><span>1</span></p>
                        <p class="fs-4 fw-bold text-danger price">$9.99</p>
                    </div>
                </div>
                <button
                    class="btn btn-outline-danger d-flex align-items-center justify-content-center rounded-circle delete-btn">
                    <fa-icon [icon]="faXmark"></fa-icon></button>
            </div>
        </div>
        <div class="col-lg-4 bg-light py-5">
            <div class="fs-5">
                <div class="py-3"> <strong>Buyer information</strong></div>
                <form>
                    <div class="mb-3">
                        <label for="nameInput" class="form-label mb-1 h6">Name</label>
                        <input type="text" class="form-control" id="nameInput" placeholder="Enter your name" />
                    </div>
                    <div class="mb-3">
                        <label for="emailInput" class="form-label mb-1 h6">Email</label>
                        <input type="text" class="form-control" id="emailInput" placeholder="Enter your email" />
                    </div>
                    <div class="mb-3">
                        <label for="phoneInput" class="form-label mb-1 h6">Phone</label>
                        <input type="text" class="form-control" id="phoneInput" placeholder="Enter your phone" />
                    </div>
                    <div class="mb-3">
                        <label for="addressInput" class="form-label mb-1 h6">Address</label>
                        <textarea rows="3" class="form-control" id="addressInput"
                            placeholder="Enter your address"></textarea>
                    </div>
                </form>
            </div>
            <div class="fs-5">
                <div class="py-3"> <strong>Payment Method</strong></div>
                <div class="d-flex align-items-center justify-content-between border rounded px-2 py-1 my-2">
                    <div>
                        <span>Credit or Debit Card</span>
                        <img src="../../../assets/images/visa-mastercard.png" alt="visa-mastercard"
                            class="payment-credit-img">
                    </div>
                    <button class="btn"><fa-icon [icon]="faAngleRight"></fa-icon></button>
                </div>
                <div class="d-flex align-items-center justify-content-between border rounded px-2 py-1 my-2">
                    <div>
                        <span>Payment on delivery</span>
                    </div>
                    <button class="btn"><fa-icon [icon]="faAngleRight"></fa-icon></button>
                </div>
            </div>

            <div class="fs-5 my-4">
                <div class="d-flex align-items-center justify-content-between py-3">
                    <strong>Subtotal</strong>
                    <span>$9.99</span>
                </div>
                <div class="d-flex align-items-center justify-content-between py-3">
                    <strong>Shipping costs</strong>
                    <span>FREE!</span>
                </div>
                <div class="d-flex align-items-center justify-content-between">
                    <div class="d-flex flex-column gap-3">
                        <span>Total</span>
                        <span class="fs-2 fw-bold">$10.99</span>
                    </div>
                    <button class="btn btn-lg btn-warning text-white fs-5">Checkout</button>
                </div>

            </div>

        </div>
    </div>
</div>