<div class="py-4 px-5 bg-light overflow-y-auto main-admin">
    <div class="h2 pb-3">Feedback Management</div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Feedback Content</th>
                <th scope="col">Feedback Date</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody *ngFor="let feedback of feedbacks | paginate: { itemsPerPage: 10, currentPage: page }; let i = index" [class.active]="i == currentIndex">
            <tr>
                <th scope="row">{{i+1}}</th>
                <td>{{feedback.name}}</td>
                <td>{{feedback.email}}</td>
                <td>{{feedback.phone}}</td>
                <td>{{feedback.feedbackContent}}</td>
                <td>{{feedback.feedbackDate | date}}</td>
                <td>
                    <div class="d-flex flex-column gap-1">
                        <button class="bg-warning-subtle text-warning border-0 rounded btn-action"><fa-icon
                                [icon]="faPenToSquare"></fa-icon></button>
                        <button class="bg-danger-subtle text-danger border-0 rounded btn-action"><fa-icon
                                [icon]="faTrash"></fa-icon></button>
                    </div>

                </td>
            </tr>
        </tbody>
    </table>
    <div class="d-flex align-items-center justify-content-center mt-5">
        <pagination-controls class="my-pagination" (pageChange)="page = $event" previousLabel="Prev"
            nextLabel="Next"></pagination-controls>
    </div>
</div>