.stars-rating {
    color: #FFB000;
}
.card-body{
    background-color: #FFFBEB;
}
.cart-btn{
    width: 40px;
    height: 40px;
}

.card-img-top{
    height: 350px;
    width: 100%;
    object-fit: cover;
}

.card-title{
    font-weight: 600;
}

.price {
    color: #FFB000;
    letter-spacing: 2px;
    font-weight: 600;
}