<div class="d-flex align-items-center justify-content-center"
    style="height: 60vh ; background-image: url('../../../assets/images/ice-cream-menu-0.jpg');background-repeat: no-repeat; background-size: cover;">
    <p class="display-1 text-center text-white text-page-header">Menu</p>
</div>
<div class="container my-5">
    <div class='d-flex flex-wrap gap-lg-4 gap-md-3 gap-sm-2 gap-2 align-items-center justify-content-center'>
        <div *ngFor="let iceCream of iceCreams; index as i" class="card card-ice-cream">
            <img src="../../../assets/images/{{iceCream.imageUrl}}" class="card-img-top object-fit-contain"
                alt="{{iceCream.name}}">
            <div class="card-body text-center rounded-bottom">
                <div class="d-flex align-items-center justify-content-center overflow-hidden" style="height: 4rem;">
                    <span class="fs-5 two-line-text">{{iceCream.name}}</span>
                </div>
                <div class="d-flex align-items-center justify-content-center stars-rating small">
                    <fa-icon class="small" [icon]="faStar"></fa-icon>
                    <fa-icon class="small" [icon]="faStar"></fa-icon>
                    <fa-icon class="small" [icon]="faStar"></fa-icon>
                    <fa-icon class="small" [icon]="faStar"></fa-icon>
                    <fa-icon class="small" [icon]="faStarHalfStroke"></fa-icon>
                </div>
                <div class="d-flex align-items-center justify-content-center overflow-hidden" style="height: 2.5rem;">
                    <span class="two-line-text">{{ iceCream.flavorId ? getFlavorName(iceCream.flavorId) : '' }}</span>
                </div>
            </div>
        </div>
    </div>
</div>