.check-icon {
    color: #39af48;
}

.payment-img {
    height: 50px;
}

.subscription-type .selected {
    border: 2px solid #FFB000;
    color: #FFB000;
}

.payment-option .selected {
    border: 1px solid #FFB000;
    color: #FFB000;
    border-radius: 6px;
}