<div class="mt-5">
    <div class="d-flex justify-content-center row mx-0 ">
        <div class="col-lg-5 px-5 pb-5 d-flex flex-column justify-content-center">
            <p class="fs-1 lh-sm recipe-title">{{recipe.name}}</p>
            <div class="d-flex gap-3 mb-4">
                <div class="d-flex align-items-center gap-3 stars-rating">
                    <fa-icon class="fs-5" [icon]="faStar"></fa-icon>
                    <fa-icon class="fs-5" [icon]="faStar"></fa-icon>
                    <fa-icon class="fs-5" [icon]="faStar"></fa-icon>
                    <fa-icon class="fs-5" [icon]="faStar"></fa-icon>
                    <fa-icon class="fs-5" [icon]="faStarHalfStroke"></fa-icon>
                </div>
                <span class="fs-6 text-secondary">4.5</span>
                <span class="fs-6 text-secondary">(100)</span>
                <a [routerLink]="['/recipe-detail#review']" class="fs-6 text-secondary text-decoration-none">Write a
                    review</a>
            </div>
            <p class="fs-5 lh-sm">{{recipe.description}}</p>
        </div>
        <div class="col mx-0 px-0">
            <img src="../../../assets/images/{{recipe.imageUrl}}" alt="{{recipe.name}}" class="w-100 recipe-main-img">
        </div>
    </div>
</div>


<div class="recipe-container">
    <div class="container pt-5">
        <hr class="border-2 border-dark ">

        <div class="row">
            <div class="col-lg-3">
                <p class="h2">Ingredients</p>
                <hr class="border-2 border-dark">
                <ul class="list-unstyled fs-6">
                    <li class="pb-3" *ngFor="let ingredient of getIngredientsArray()">{{ ingredient }}</li>
                </ul>

            </div>
            <div class="col">
                <p class="h2">Instructions</p>
                <hr class="border-2 border-dark">
                <div *ngFor="let step of recipe.steps; index as i">
                    <div class="fs-5 pb-3">
                        <div class="d-flex align-items-center justify-content-between pb-3">
                            <strong>Step {{i+1}}</strong>
                            <fa-icon (click)="toggleStep(step)" [icon]="step.isStepOpen ? faMinus : faPlus"></fa-icon>
                        </div>
                        <div [@fadeInOut]="step.isStepOpen ? 'open' : 'closed'">
                            <p class="pb-3" *ngIf="step.isStepOpen">{{step.content}}</p>
                            <img *ngIf="step.isStepOpen && step.imageUrl" src="../../../assets/images/{{step.imageUrl}}"
                                alt="{{step.imageUrl}}" class="w-100">
                        </div>
                    </div>
                    <hr class="border-2 border-dark">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="container py-5">
        <p class="display-5 text-center pb-2 fw-bold">Other recipes</p>
        <div class='d-flex flex-wrap gap-lg-4 gap-md-3 gap-sm-2 gap-2 align-items-center justify-content-around'>
            <div *ngFor="let recipe of recipes; index as i" class="card card-recipe">
                <img src="../../../assets/images/{{recipe.imageUrl}}" class="card-img-top" alt="{{recipe.name}}">
                <div class="card-body rounded-bottom">
                    <div class="d-flex align-items-center justify-content-center overflow-hidden" style="height: 4rem;">
                        <span class="fs-4 lh-sm two-line-text recipe-title">{{recipe.name}}</span>
                    </div>
                    <div class="d-flex align-items-center justify-content-center overflow-hidden" style="height: 3rem;">
                        <span class="two-line-text">{{recipe.description}}</span>
                    </div>
                    <a [routerLink]="['/recipe-detail', recipe.id]"
                        class="d-flex align-items-center h5 text-decoration-none text-dark mt-3">
                        View recipe
                        <fa-icon [icon]="faArrowRight"
                            class="d-flex align-items-center justify-content-center btn btn-outline-warning rounded-5 ms-2 view-recipe-btn"></fa-icon></a>
                </div>
            </div>
        </div>
        <div class="d-flex align-items-center justify-content-center mt-5">
            <a [routerLink]="['/recipes']" class="btn btn-outline-warning rounded-5 px-5 fs-5">View all recipes<fa-icon
                    [icon]="faArrowRight" class="small ps-1"></fa-icon></a>
        </div>
    </div>
</div>


<div class="container py-5" id="review">
    <p class="display-5 text-center pb-2 fw-bold">Leave a review</p>
    <p class="h5 text-center">Click the stars to rate us*</p>
    <div class="d-flex align-items-center justify-content-center gap-3 mb-4">
        <div class="d-flex align-items-center gap-3 stars-rating">
            <fa-icon class="fs-3" [icon]="faStar"></fa-icon>
            <fa-icon class="fs-3" [icon]="faStar"></fa-icon>
            <fa-icon class="fs-3" [icon]="faStar"></fa-icon>
            <fa-icon class="fs-3" [icon]="faStar"></fa-icon>
            <fa-icon class="fs-3" [icon]="faStarHalfStroke"></fa-icon>
        </div>
    </div>
    <form>
        <textarea class="form-control" placeholder="Your review..." rows="3"></textarea>
        <button type="submit" class="btn btn-warning px-5 mt-2 fs-5 text-white">Send</button>
    </form>
    <hr class="border-2 border-dark">
    <div class="py-3 mx-0">
        <p class="display-6 fw-bold">4.5/5</p>
        <div class="d-flex align-items-center gap-1 stars-rating">
            <fa-icon class="fs-4" [icon]="faStar"></fa-icon>
            <fa-icon class="fs-4" [icon]="faStar"></fa-icon>
            <fa-icon class="fs-4" [icon]="faStar"></fa-icon>
            <fa-icon class="fs-4" [icon]="faStar"></fa-icon>
            <fa-icon class="fs-4" [icon]="faStarHalfStroke"></fa-icon>
        </div>
    </div>
    <div class="mt-4">
        <div class="d-flex">
            <div class="me-3">
                <img src="../../../assets/images/auth-img.png" alt="reviewer-avatar"
                    class="rounded-circle reviewer-avatar">
            </div>
            <div class="">
                <span>username</span>
                <div class="d-flex align-items-center gap-1 stars-rating small">
                    <fa-icon [icon]="faStar"></fa-icon>
                    <fa-icon [icon]="faStar"></fa-icon>
                    <fa-icon [icon]="faStar"></fa-icon>
                    <fa-icon [icon]="faStar"></fa-icon>
                    <fa-icon [icon]="faStarHalfStroke"></fa-icon>
                </div>
                <small class="text-secondary">2023-12-12</small>
                <p class="fs-6 pt-2">I made this for my adult daughter and her family recently. She loves dulce de
                    leche. It was very easy to make. The best part is the salty pretzel crust with the ice cream. So
                    good.
                    I will make this again. Also a good recipe ice to make in advance.</p>
            </div>
        </div>
    </div>
</div>