<div class="container pt-5">
    <div class="d-flex justify-content-center row pt-5 mt-5 mb-5">
        <div class="col d-flex align-items-center justify-content-center border">
            <img src="../../../assets/images/{{book.imageUrl}}" alt="ice-cream-book-1" class="w-75">
        </div>
        <div class="col px-5">
            <h2 class="fs-2 lh-base ">{{book.title}}</h2>
            <div class="d-flex gap-3 mb-4">
                <div class="d-flex align-items-center gap-3 stars-rating">
                    <fa-icon class="fs-5" [icon]="faStar"></fa-icon>
                    <fa-icon class="fs-5" [icon]="faStar"></fa-icon>
                    <fa-icon class="fs-5" [icon]="faStar"></fa-icon>
                    <fa-icon class="fs-5" [icon]="faStar"></fa-icon>
                    <fa-icon class="fs-5" [icon]="faStarHalfStroke"></fa-icon>
                </div>
                <div class="fs-6 text-secondary">100 Ratings</div>
            </div>
            <p class="fs-5 lh-base"><strong>Price: </strong><span class="fs-3 ps-2 price">${{book.price}}</span></p>
            <p class="fs-5 lh-base"><strong>Description: </strong>{{book.description}}</p>
            <p class="fs-5 lh-base"><strong>Author: </strong>{{book.author}}</p>
            <p class="fs-5 lh-base"><strong>First Publish: </strong>{{book.publishedDate | date}}</p>
            <button class="btn btn-outline-warning rounded-5 px-5 fs-5 mt-3">Add to cart</button>
        </div>

    </div>
</div>

<div class="container py-5">
    <p class="display-5 text-center pb-2 fw-bold">Other books</p>
    <swiper-container #swiper navigation="true" slides-per-view="4" autoplay="true" loop="true">
        <swiper-slide *ngFor="let book of books">
            <div class="card"
            style="width: 18rem;">
            <img src="../../../assets/images/{{book.imageUrl}}" class="card-img-top object-fit-contain"
                alt="{{book.title}}" style="height: 20rem;">
            <div class="card-body text-center rounded-bottom">
                <div class="d-flex align-items-center justify-content-center overflow-hidden" style="height: 4rem;">
                    <a [routerLink]="['/book-detail', book.id]"
                        class="text-decoration-none text-dark fs-5 two-line-text">{{book.title}}</a>
                </div>
                <div class="d-flex align-items-center justify-content-between mt-2">
                    <div>
                        <span class="">${{book.price}}</span>
                        <div class="d-flex align-items-center justify-content-center stars-rating small">
                            <fa-icon class="small" [icon]="faStar"></fa-icon>
                            <fa-icon class="small" [icon]="faStar"></fa-icon>
                            <fa-icon class="small" [icon]="faStar"></fa-icon>
                            <fa-icon class="small" [icon]="faStar"></fa-icon>
                            <fa-icon class="small" [icon]="faStarHalfStroke"></fa-icon>
                        </div>
                    </div>
                    <div>
                        <button
                            class="d-flex align-items-center justify-content-center btn btn-outline-warning rounded-circle cart-btn"><fa-icon
                                class="small" [icon]="faCartShopping"></fa-icon></button>
                    </div>
                </div>
            </div>
        </div>

        </swiper-slide>
    </swiper-container>

    <div class="d-flex align-items-center justify-content-center mt-5">
        <a [routerLink]="['/books']" class="btn btn-outline-warning rounded-5 px-5 fs-5">View all books<fa-icon [icon]="faArrowRight"
                class="small ps-1"></fa-icon></a>
    </div>
</div>


<!-- 
<div class="container py-5">
    <p class="display-5 text-center pb-2 fw-bold">Other books</p>
    <div class='d-flex flex-wrap gap-lg-4 gap-md-3 gap-sm-2 gap-2 align-items-center justify-content-center'>

       

        <div *ngFor="let book of books; index as i" class="card" style="width: 18rem;">
            <img src="../../../assets/images/{{book.imageUrl}}" class="card-img-top" alt="{{book.title}}">
            <div class="card-body text-center rounded-bottom">
                <a href="/book-detail/{{book.id}}" class="text-decoration-none text-dark fs-5 card-title">{{book.title}}</a>
                <div class="d-flex align-items-center justify-content-between mt-2">
                    <div>
                        <span class="fs-5">${{book.price}}</span>
                        <div class="d-flex align-items-center justify-content-center stars-rating small">
                            <fa-icon class="small" [icon]="faStar"></fa-icon>
                            <fa-icon class="small" [icon]="faStar"></fa-icon>
                            <fa-icon class="small" [icon]="faStar"></fa-icon>
                            <fa-icon class="small" [icon]="faStar"></fa-icon>
                            <fa-icon class="small" [icon]="faStarHalfStroke"></fa-icon>
                        </div>
                    </div>
                    <div>
                        <button class="d-flex align-items-center justify-content-center btn btn-outline-warning rounded-circle cart-btn"><fa-icon class="small" [icon]="faCartShopping"></fa-icon></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex align-items-center justify-content-center mt-5">
        <a href="/books" class="btn btn-outline-warning rounded-5 px-5 fs-5">View all books<fa-icon [icon]="faArrowRight"
                class="small ps-1"></fa-icon></a>
    </div>
</div> -->
