<div class="d-flex align-items-center justify-content-center"
    style="height: 60vh ; background-image: url('../../../assets/images/ice-cream-about-0.png');background-repeat: no-repeat; background-size: cover;">
    <p class="display-1 text-center text-white text-page-header">About us</p>
</div>

<div class="container pt-5">
    <div class="d-flex justify-content-center align-items-center row pt-5 mb-5">
        <div class="col px-5">
            <h2 class="fs-2 text-center lh-base">Hi, I am A, Owners of Parlor’s Ice
                Creams!</h2>
            <p class="fs-5 text-center lh-base">In 2018, I left our desk jobs in search of something a bit more
                exhilarating. I saved our money and traveled Europe, making a stop in Italy. I was in awe observing
                the Italians’ passion for their food and how they thoughtfully chose every local ingredient that went
                into their treasured recipes.</p>
            <p class="fs-5 text-center lh-base">Raised as ice cream lovers, after living in Dallas for 6 years, I felt
                like something was missing: a good old ice cream shop with classic scooped ice cream flavors made from
                scratch. Thus, with a heart to support our local farmers and small businesses, I took all of the
                Italian spirit of passion with us and built Parlor’s Handcrafted Ice Creams - scoop cart. In April 2022,
                after I noticed our fellow neighbors loving our ice cream, I opened our first brick & mortar scoop
                shop. With every flavor comes the highest-quality local and seasonal ingredients. Each scoop starts with
                a visit to our trusted Dallas farms and local businesses. I take those ingredients to the kitchen where
                I mix, pasteurize, and freeze the ice cream, all in-house.</p>
        </div>
        <div class="col">
            <img src="../../../assets/images/shop-owner.png" alt="shop-owner" class="w-100">
        </div>
    </div>
</div>

<div
    style="height: 80vh ; background-image: url('../../../assets/images/ice-cream-about-1.png');background-repeat: no-repeat; background-size: cover;">
</div>

<div class="container justify-content-center mt-5" style="width: 70%;">
    <h3 class="fs-3 text-center lh-base">Our Ice Creams.</h3>
    <h2 class="fs-3 text-center lh-base">We are committed to making our ice cream in-house, from scratch using the
        highest quality
        ingredients we can find. Our ice cream is made with grass-fed milk & cream and pasture-raised eggs from local
        farms.</h2>
    <p class="text-center lh-base fs-5">To read a little more about our flavors and what we’re doing to change the local
        ice cream game, <br />
        check out our <a [routerLink]="['/menu']">Menu</a> page.</p>
</div>

<div class="container pt-5">
    <div class="d-flex justify-content-center row pt-5 mb-5">
        <div class="col">
            <img src="../../../assets/images/ice-cream-about-2.jpg" alt="shop-owner"
                class="object-fit-cover w-100 about-img">
        </div>
        <div class="col">
            <img src="../../../assets/images/ice-cream-about-3.jpg" alt="shop-owner"
                class="object-fit-cover w-100 about-img">
        </div>
    </div>
</div>

<div class="container pt-3 pb-5">
    <div class="d-flex justify-content-center align-items-center row pt-5 mb-5">
        <div class="col">
            <img src="../../../assets/images/cow.png" alt="shop-owner" class="w-100">
        </div>
        <div class="col px-5">
            <h2 class="fs-2 text-center lh-base">How it's made</h2>
            <p class="fs-5 text-center lh-base">Welcome to our delightful Ice Cream Parlour, where every scoop is a
                symphony of flavor crafted with love and dedication. Our commitment to excellence begins with the
                foundation of pure bliss—100% fresh milk. We believe in the magic that happens when quality ingredients
                come together, ensuring an unforgettable treat for our cherished customers.</p>
            <p class="fs-5 text-center lh-base">Immerse yourself in the richness and smoothness that defines our ice cream, a result of the pure essence derived from the freshest milk available. We take pride in the simplicity of our approach, celebrating the joy found in using only the finest ingredients. Each spoonful is a testament to our dedication to delivering a wholesome and delicious experience, making your visit to our parlour a celebration of indulgence.
            </p>
            <p class="fs-5 text-center lh-base">Join us on a journey where every moment is savored, and every bite is a reminder of the simple pleasure found in exceptional ice cream. At our parlour, we invite you to indulge in the extraordinary – where quality meets flavor for an unparalleled treat that lingers in your memory.</p>

        </div>

    </div>
</div>