<!-- <form (ngSubmit)="createRecipe()" class="ps-5 ms-5">
    <label for="name">Name</label>
    <input id="name" [(ngModel)]="recipe.name" name="name" />

    <label for="description">Description</label>
    <input id="description" [(ngModel)]="recipe.description" name="description" />

    <label for="imageUrl">Image Url</label>
    <input id="imageUrl" [(ngModel)]="recipe.imageUrl" name="imageUrl" />

    <label for="submittedBy">Submitted By</label>
    <input id="submittedBy" [(ngModel)]="recipe.submittedBy" name="submittedBy" />



    <div *ngFor="let step of recipe.steps; let i = index">
        <label for="stepContent{{ i }}">Step {{ i + 1 }}</label>
        <input id="stepContent{{ i }}" [(ngModel)]="step.content" name="content{{ i }}" />

        <input id="imageUrl{{ i }}" [(ngModel)]="step.imageUrl" name="imageUrl{{ i }}" />
    </div>

    <div *ngFor="let ingredient of recipe.ingredients; let i = index">
        <label for="ingredient{{ i }}">Ingredient {{ i + 1 }}</label>
        <input id="ingredient{{ i }}" [(ngModel)]="ingredient.name" name="ingredient{{ i }}" />
    </div>

    <button type="button" (click)="addStep()">Add Step</button>
    <button type="button" (click)="addIngredient()">Add Ingredient</button>

    <button type="submit">Create Recipe</button>
</form> -->

<div class="py-4 px-5 bg-light overflow-y-auto main-admin">
    <a [routerLink]="['/admin/recipe-management']" class="btn btn-outline-dark mb-3"><fa-icon [icon]="faArrowLeft"></fa-icon></a>
    <div class="h2 pb-3">Add New Recipe</div>
    <form (ngSubmit)="createRecipe()">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" [(ngModel)]="recipe.name" name="name" required>
        </div>
        <div class="row g-3 mb-3">
            <div class="col">
                <label for="submittedBy" class="form-label">Submitted By</label>
                <input type="text" class="form-control" id="submittedBy" [(ngModel)]="recipe.submittedBy"
                    name="submittedBy" required>
            </div>
            <div class="col">
                <label for="imageUrl" class="form-label">Main Image</label>
                <input class="form-control" type="text" id="imageUrl" [(ngModel)]="recipe.imageUrl" name="imageUrl"
                    required>
            </div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea [(ngModel)]="recipe.description" id="description" name="description" class="form-control" rows="5"
                required></textarea>
        </div>
        <div class="mb-3">
            <label for="ingredient" class="form-label">Ingredients
                <span class="small ps-1 text-danger">
                    (*Press Enter after each ingredient to add it to the list)
                </span>
            </label>
            <div class="row">
                <div class="col">
                    <textarea class="form-control overflow-hidden" rows="3" (input)="autoResize($event)"
                        id="ingredient" [(ngModel)]="recipe.ingredient" name="ingredient"
                        [formControl]="listIngredientInput"></textarea>
                </div>
                <div class="col">
                    <p>List of ingredients</p> 
                    <ul>
                        <li *ngFor="let item of ingredients">{{item}}</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="mb-3">
            <div class="d-flex align-items-center">
                <label class="form-label m-0">Instructions</label>
            </div>

            <div *ngFor="let step of recipe.steps; let i = index" class="ms-3 mt-3">
                <div class="d-flex align-items-center pb-3">
                    <button type="button" class="border-0 bg-light" (click)="toggleStep(i)">
                        <fa-icon [icon]="stepOpenStates[i] ? faAngleUp : faAngleDown" class="pe-2"></fa-icon>
                        <strong>Step {{ i + 1}}</strong>
                    </button>
                </div>
                <div [hidden]="!stepOpenStates[i]" [@fadeInOut]="stepOpenStates[i] ? 'open' : 'closed'">
                    <div class="mb-2">
                        <label class="form-label" for="stepContent{{ i }}">Content</label>
                        <textarea id="stepContent{{ i }}" [(ngModel)]="step.content" name="content{{ i }}"
                            class="form-control" rows="4" required></textarea>
                    </div>
                    <div class="mb-2">
                        <label for="illustrationImage{{ i }}" class="form-label">Illustration Image</label>
                        <input id="illustrationImage{{ i }}" [(ngModel)]="step.imageUrl" name="imageUrl{{ i }}"
                            class="form-control" type="file" required>
                    </div>
                </div>
                <hr class="border-1 border-dark">
            </div>
            <button class="btn btn-outline-success d-flex align-items-center ms-2" (click)="addStep($event)"><span>Add
                    step</span><fa-icon [icon]="faPlus" class="ps-1"></fa-icon> </button>
        </div>


        <button class="btn btn-success px-5" type="submit">Save</button>
    </form>
</div>