.logo-img {
    width: 150px;
}

.header {
    background-color: #FFFBEB;
    color: #5C2712;
}

.text-chocolate {
    color: #5C2712;
}

.btn-header {
    background-color: #FFFBEB;
}

.nav-link:hover{
    background-color: #FFB000;
    color: #FFFFFF; 
}

.active {
   background-color: #FFB000;
   color: #FFFFFF; 
}

.sidebar-link:hover{
   background-color: #FFB000;
   color: #FFFFFF; 
}

.logo-minimalist-img{
    width: 60px;
    height: 60px;
}

.offcanvas{
    width: 300px;
}
