<header>
    <div
        class="d-flex flex-wrap align-items-center justify-content-md-between justify-content-sm-between justify-content-between px-3 py-2  fixed-top header">
        <div class="">
            <a [routerLink]="['/']" class="d-inline-flex ms-3">
                <img src="../../../../assets/images/logo.png" alt="logo" class="logo-img">
            </a>
        </div>

        <ul class="nav mb-2 justify-content-center mb-md-0 d-lg-flex flex-wrap d-md-none d-sm-none d-none">
            <li><a [routerLink]="['/home']" routerLinkActive="active"
                    class="nav-link rounded py-1 px-3 text-capitalize fs-normal text-large text-chocolate">Home</a></li>
            <li><a [routerLink]="['/menu']" routerLinkActive="active"
                    class="nav-link rounded py-1 px-3 text-capitalize fs-normal text-large text-chocolate">Menu</a></li>
            <li><a [routerLink]="['/recipes']" routerLinkActive="active"
                    class="nav-link rounded py-1 px-3 text-capitalize fs-normal text-large text-chocolate">Recipe</a></li>
            <li><a [routerLink]="['/books']" routerLinkActive="active"
                    class="nav-link rounded py-1 px-3 text-capitalize fs-normal text-large text-chocolate">Book</a></li>
            <li><a [routerLink]="['/feedback']" routerLinkActive="active"
                    class="nav-link rounded py-1 px-3 text-capitalize fs-normal text-large text-chocolate">Feedback</a></li>
            <li><a [routerLink]="['/contact-us']" routerLinkActive="active"
                    class="nav-link rounded py-1 px-3 text-capitalize fs-normal text-large text-chocolate">Contact</a></li>
            <li><a [routerLink]="['/about-us']" routerLinkActive="active"
                    class="nav-link rounded py-1 px-3 text-capitalize fs-normal text-large text-chocolate">About</a></li>
            <li><a [routerLink]="['/faq']" routerLinkActive="active"
                    class="nav-link rounded py-1 px-3 text-capitalize fs-normal text-large text-chocolate">FAQ's</a></li>
        </ul>

        <div class=" text-end d-flex align-items-center justify-content-end d-lg-flex d-md-none d-sm-none d-none">
            <a [routerLink]="['/auth/login']" class="fs-normal border border-0  btn-header text-chocolate"><fa-icon
                    [icon]="faUser"></fa-icon></a>
            <a  [routerLink]="['/order']" class="fs-normal border border-0  btn-header text-chocolate">
                <fa-icon class="fs-normal" [icon]="faCartShopping"></fa-icon>
            </a>
        </div>
        <button class="btn fs-5 d-lg-none d-md-block d-sm-block d-block" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
            aria-controls="offcanvasExample">
            <fa-icon [icon]="faBars"></fa-icon>
        </button>
    </div>

    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample"
        aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <a [routerLink]="['/']" class="d-inline-flex ms-4">
                <img src="../../../../assets/images/logo.png" alt="logo" class="object-fit-contain logo-img">
            </a>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="d-flex flex-column align-items-center">
                <a [routerLink]="['/home']" routerLinkActive="active"
                    class="btn w-100 rounded py-1 px-4 text-capitalize fs-5 text-large text-chocolate sidebar-link">Home</a>
                <a [routerLink]="['/menu']" routerLinkActive="active"
                    class="btn w-100 rounded py-1 px-4 text-capitalize fs-5 text-large text-chocolate sidebar-link">Menu</a>
                <a [routerLink]="['/recipes']" routerLinkActive="active"
                    class="btn w-100 rounded py-1 px-4 text-capitalize fs-5 text-large text-chocolate sidebar-link">Recipe</a>
                <a [routerLink]="['/books']" routerLinkActive="active"
                    class="btn w-100 rounded py-1 px-4 text-capitalize fs-5 text-large text-chocolate sidebar-link">Book</a>
                <a [routerLink]="['/feedback']" routerLinkActive="active"
                    class="btn w-100 rounded py-1 px-4 text-capitalize fs-5 text-large text-chocolate sidebar-link">Feedback</a>
                <a [routerLink]="['/contact-us']" routerLinkActive="active"
                    class="btn w-100 rounded py-1 px-4 text-capitalize fs-5 text-large text-chocolate sidebar-link">Contact</a>
                <a [routerLink]="['/about-us']" routerLinkActive="active"
                    class="btn w-100 rounded py-1 px-4 text-capitalize fs-5 text-large text-chocolate sidebar-link">About</a>
                <a [routerLink]="['/faq']" routerLinkActive="active"
                    class="btn w-100 rounded py-1 px-4 text-capitalize fs-5 text-large text-chocolate sidebar-link">FAQ's</a>
            </div>
        </div>
        <div class="p-3">
            <div class="btn-group dropup">
                <button type="button" class="btn border-0 dropdown-toggle" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <span class="btn btn-warning rounded-circle fs-5 border border-0 text-chocolate">
                        <fa-icon [icon]="faUser"></fa-icon>
                    </span>
                    <span class="px-1">username</span>
                </button>
                <ul class="dropdown-menu">
                    <li><a [routerLink]="['/login']" class="dropdown-item">Login</a></li>
                    <li><a [routerLink]="['/login']" class="dropdown-item">Register</a></li>
                </ul>
            </div>

        </div>
    </div>
</header>